@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Applications</h1>
    <p>
        This app was created acordint to the course <i>ASP.NET Core Crash Course - C# App in One Hour</i> from freeCodeCamp.org
    </p>

    <a href="https://www.youtube.com/watch?v=BfEjDD8mWYg">Go to the course</a>
</div>
